body{
    background-color: rgb(41, 41, 41);
}

.horizontalMenu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.horizontalMenu li {
    margin: 0;
    padding: 0;
}

.horizontalMenu li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}